{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container-fluid p-3">
        <h1>{{ program.title }}</h1>
        <a class="btn btn-outline-success mb-3" href="{{ path('program_index') }}">Retour à l'index séries</a>

        <table class="table">
            <tbody>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex">
            <div>
                <a class="btn btn-success mr-5" href="{{ path('program_edit', {'id': program.id}) }}">Modifier</a>
            </div>
            <div>
                {{ include('program/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
