{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    {% for program in programs %}
        <div class="media">
            <div class="media-body">
                <h1 class="mt-0">{{ program.title }}</h1>
                <h2>{{ program.id }}</h2>
                <p>{{ program.summary }}</p>
            </div>
        </div>
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}