{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <a href="{{ path('wild_show', {'slug': program.title|replace({' ':'-'})|lower }) }}"><h1 class="mt-0">{{ program.title }}</h1></a>
            <p>Categorie : {{ program.category.name }}</p>
            <a href="{{ path('show_season', {'id': season.id}) }}">
                <h2>Saison {{ season.number }}</h2>
            </a>
                <h3>Episode {{ episode.number }} : {{ episode.title }}</h3>
                <p>{{ episode.synopsis }}</p>
                <br/>

            <a href="{{ path('wild_index') }}">
                Retour à l'accueil
            </a>
        </div>
    </div>
{% endblock %}