{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries</h1>
    {% for program in programs %}
        <div>
            <a href="{{ path('wild_show', { 'slug': program.slug }) }}">
                <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            </a>
            <p>{{ program.summary }}</p>
            <h5>Liste des Acteurs : </h5>
            {% if program.actors|length > 0 %}
                <p>{% for actor in program.actors %}
                        <a href="{{ path('show_actor', { 'slug': actor.slug }) }}">{{ actor.name }},</a>
                    {% endfor %}</p>
            {% else %}
                <p>Pas d'acteur dans cette série</p>
            {% endif %}
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
