{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur Wild Series</h1>
    <h3>Les nouvelles séries ajoutées</h3>
    <div class="container-fluid">
            {% for program in programs %}
                        <div class="card-body">
                            <h5 class="card-title">{{ program.title  }}</h5>
                            <p class="card-text">{{ program.summary  }}</p>
                        </div>
            {% endfor %}
            <a href="{{ path('wild_index') }}" class="btn btn-outline-success">Voir toutes les séries</a>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button>search</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
